body{
  
    color: black;
    #app{
        .jsx{
            color: red;
            font-size: 50px;
        }
    }
}
// body{
//     margin: 0;
//     #app{
//        width: 710px;
//        height:280px;
//        margin: 0 auto;
//        border:1px solid black;
//        img{
//            background-size: cover;
//            background-repeat: no-repeat;
//        }
//     }
// }